#
# MIT License
#
# (C) Copyright 2021-2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
name: Lint, test, and scan Helm charts

on:
  workflow_call:
    inputs:
      runs-on:
        description: The type of machine to run the job on.
        type: string
        required: false
        default: ubuntu-latest
      lint-charts:
        description: Lint and test Helm charts
        type: boolean
        required: false
        default: true
      test-charts:
        description: Lint and test Helm charts
        type: boolean
        required: false
        default: false
      ct-config:
        description: Chart testing configuration
        type: string
        required: false
      ct-yaml:
        description: Chart testing configuration file
        type: string
        required: false
        default: ct.yaml
      ct-yaml-post-script:
        description: Bash script that runs after the Chart testing configuration file is configured.
        type: string
        required: false
      target-branch:
        description: Target branch to compare changes against
        type: string
        required: false
        default: main
      lint-pre-script:
        description: Bash script that runs before `ct lint`
        type: string
        required: false
      lint-post-script:
        description: Bash script that runs after `ct lint`
        type: string
        required: false
      test-pre-script:
        description: Bash script that runs before `ct install`
        type: string
        required: false
      test-post-script:
        description: Bash script that runs after `ct install`
        type: string
        required: false
      scan-charts:
        description: Template charts and scan Kubernetes resources with Snyk
        type: boolean
        required: false
        default: true
      scan-chart-snyk-args:
        description: Additional Snyk args when scanning images (e.g., `--severity-threshold=high`)
        type: string
        required: false
      scan-images:
        description: Scan container images with Snyk
        type: boolean
        required: false
        default: true
      scan-image-snyk-args:
        description: Additional Snyk args when scanning images (e.g., `--severity-threshold=high`)
        type: string
        required: false
      artifactory-helm-repo-name:
        description: Helm repo mnemonic name, as referred in ct.yaml
        type: string
        default: csm-algol60
      artifactory-hostname:
        description: Docker registry name to pre-auhtenticate to pull chart images
        type: string
        default: artifactory.algol60.net
    secrets:
      snyk-token:
        description: Snyk authorization token
        required: true
      github-token:
        description: Github authorization token (needed for discovering latest Helm)
        required: true
      artifactory-username:
        description: Username for Helm repository and Docker registry
        required: true
      artifactory-password:
        description: Password for Helm repository and Docker registry
        required: true

jobs:
  lint-and-test:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      charts: ${{ steps.list-changed.outcome == 'skipped' && steps.list-charts.outputs.charts || steps.list-changed.outputs.charts }}
      images: ${{ steps.extract-images.outputs.images }}
    env:
      CT_CONFIG: ${{ inputs.ct-yaml }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          # Helm version 3.14 causes freezing during depndencies download
          # However, cray-sysmgmt-health now requires Helm >= 3.14.
          # version: 3.13.3
          token: ${{ secrets.github-token }}

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - uses: actions/setup-python@v5
        if: inputs.lint-charts || inputs.test-charts

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2
        if: inputs.lint-charts || inputs.test-charts

      - name: Configure chart-testing
        env:
          INPUTS_CT_CONFIG: ${{ inputs.ct-config }}
        shell: bash
        run: |
          if [[ ! -f "$CT_CONFIG" ]]; then
            mkdir -p "$(dirname "$CT_CONFIG")"
            touch "$CT_CONFIG"
          fi
          yq eval-all --inplace -P '. as $item ireduce ({}; . * $item )' "$CT_CONFIG" <(echo "target-branch: $GITHUB_BASE_REF") <(echo "$INPUTS_CT_CONFIG")
          cat "$CT_CONFIG"
        if: inputs.lint-charts || inputs.test-charts

      - name: Run post configure chart-testing script
        shell: bash
        run: ${{ inputs.ct-yaml-post-script }}
        if: (inputs.lint-charts || inputs.lint-pre-script) && inputs.ct-yaml-post-script

      - name: List changed charts
        id: list-changed
        shell: bash
        run: echo "charts=$(ct list-changed --config "$CT_CONFIG" --target-branch "${{ inputs.target-branch }}" | jq -R | jq -sc)" >> $GITHUB_OUTPUT
        if: inputs.lint-charts || inputs.test-charts

      - name: Run pre-lint script
        shell: bash
        run: ${{ inputs.lint-pre-script }}
        if: inputs.lint-charts && inputs.lint-pre-script

      - name: Lint charts
        run: ct lint ${{ runner.debug && '--debug' || '' }} --config "$CT_CONFIG" ${{ runner.debug && '--helm-extra-args "--debug"' || '' }} --helm-repo-extra-args "${{ inputs.artifactory-helm-repo-name }}=--username ${{ secrets.artifactory-username }} --password ${{ secrets.artifactory-password }}"
        if: inputs.lint-charts

      - name: Run post-lint script
        shell: bash
        run: ${{ inputs.lint-post-script }}
        if: inputs.lint-charts && inputs.lint-post-script

      - name: Create test Kubernetes cluster
        uses: helm/kind-action@v1.2.0
        if: inputs.test-charts && fromJSON(steps.list-changed.outputs.charts)[0] != null

      - name: Run pre-test script
        shell: bash
        run: ${{ inputs.test-pre-script }}
        if: inputs.test-charts && inputs.test-pre-script

      - name: Deploy charts to test Kubernetes cluster
        run: ct install --config "$CT_CONFIG" --helm-repo-extra-args "${{ inputs.artifactory-helm-repo-name }}=--username ${{ secrets.artifactory-username }} --password ${{ secrets.artifactory-password }}"
        if: inputs.test-charts

      - name: Run post-test script
        shell: bash
        run: ${{ inputs.test-post-script }}
        if: inputs.test-charts && inputs.test-post-script

      - name: Find all charts (unless linting or testing)
        id: list-charts
        shell: bash
        run: echo "charts=$(yq e '.chart-dirs // ["charts"] | .[]' "$CT_CONFIG" | while read chartdir; do test -d $chartdir || continue; find $chartdir -name Chart.yaml -type f -maxdepth 2 -mindepth 2 -printf '%h\n'; done | jq -R | jq -sc)" >> $GITHUB_OUTPUT
        if: steps.list-changed.outcome == 'skipped'

      - name: Discover images required by charts
        id: extract-images
        env:
          CHARTS: ${{ steps.list-changed.outcome == 'skipped' && steps.list-charts.outputs.charts || steps.list-changed.outputs.charts }}
          IMAGES: ${{ runner.temp }}/images.txt
        shell: bash
        run: |
          jq -r '.[]' <<< "$CHARTS" | while read chart; do
            helm template release "$chart" --dry-run --replace --dependency-update | yq e -N 'select(.kind? != "CustomResourceDefinition" and .kind? != "ClusterPolicy") | .. | .image? | select(.)' -
            helm show chart "$chart" | yq e '.annotations."artifacthub.io/images"' - | yq e -N '.[] | .image' -
          done | sort -u > $IMAGES
          echo "images=$(jq -R < $IMAGES | jq -sc)" >> $GITHUB_OUTPUT
        if: inputs.scan-images

  scan-charts:
    needs: lint-and-test
    if: inputs.scan-charts && fromJSON(needs.lint-and-test.outputs.charts)[0] != null
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.lint-and-test.outputs.charts) }}
      fail-fast: false
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.github-token }}

      - name: Template chart (${{ matrix.chart }})
        run: |
          for u in $(yq eval '.dependencies[].repository' ${{ matrix.chart }}/Chart.yaml | uniq | head -1); do
              helm repo add ${{ inputs.artifactory-helm-repo-name }} $u --username ${{ secrets.artifactory-username }} --password ${{ secrets.artifactory-password }}
          done
          helm template release ${{ matrix.chart }} --dry-run --replace --dependency-update > ${{ matrix.chart }}/k8s-manifest.yaml

      - name: Run Snyk to check Kubernetes resources (${{ matrix.chart }})
        uses: snyk/actions/iac@master
        #continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.snyk-token }}
        with:
          file: ${{ matrix.chart }}/k8s-manifest.yaml
          args: ${{ inputs.scan-chart-snyk-args }}

      #- name: Upload result to GitHub Code Scanning
      #  uses: github/codeql-action/upload-sarif@v1
      #  with:
      #    sarif_file: snyk.sarif

  scan-images: # to ensure dependent images are still free of CVEs
    needs: lint-and-test
    if: inputs.scan-images && fromJSON(needs.lint-and-test.outputs.images)[0] != null
    strategy:
      matrix:
        image: ${{ fromJSON(needs.lint-and-test.outputs.images) }}
      fail-fast: false
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Login to Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ inputs.artifactory-hostname }}
          username: ${{ secrets.artifactory-username }}
          password: ${{ secrets.artifactory-password }}

      - name: Pre-cache image for Snyk scan
        run: docker pull ${{ matrix.image }}
        shell: bash

      - name: Run Snyk to check Docker image for vulnerabilities (${{ matrix.image }})
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.snyk-token }}
        with:
          image: ${{ matrix.image }}
          args: ${{ inputs.scan-image-snyk-args }}

